/* DOCUMENT INFORMATION
	- Document: Vanilla Carousel Theme
	- Version:  1.0.0
	- Client:   Xgen
	- Author:   S. Katzelnick
*/

/* CSS Reset
--------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.clearfix {
  overflow: auto;
}
/* End */

/* Carousel Styling
------------------------- */
.carousel {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vmax;
  background: #efefef;
  overflow: hidden;
}

.button-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100%;
}

.left {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.right {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.slide-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto 5px;
  padding-top: 2.5vmin;
  overflow-x: auto;
}

/* Hides Scrollbars for overflowed elements */
.slide-container::-webkit-scrollbar,
.slide-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.product-listings-group-1,
.product-listings-group-2 {
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.46, 0.34, 0.5, 0.85);
}

.slide {
  min-width: 8vmax;
  margin: auto 5px;
  height: 100%;
}

/* Image scaling to fit inside slide div */
.slide > img {
  width: 100%;
}

.desc {
  padding: 0.25vmax 0;
  font-size: 1.9vmin;
  font-weight: 600;
}

.price {
  font-size: 1.5vmin;
  font-weight: 500;
}
/* End */

/* Responsive carousel adjustments for smaller mobile devices */
@media screen and (max-width: 600px) {
  .carousel {
    display: block;
    width: 100%;
    height: 85vmax;
  }

  /* Hide Arrows On Small Screens */
  .button-container {
    width: 95%;
    height: 100%;
    margin: auto;
  }

  .buttons {
    display: none;
  }

  .slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: auto;
  }

  .slide {
    min-width: 100%;
    margin: 0 5px;
    padding-top: 0;
  }

  .slide:nth-child(1) {
    margin-left: 0;
  }

  .product-listings-group-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    overflow-x: auto;
  }

  .product-listings-group-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  .product-listings-group-1::-webkit-scrollbar,
  .product-listings-group-1::-webkit-scrollbar-corner {
    visibility: hidden;
  }

  .product-listings-group-2::-webkit-scrollbar,
  .product-listings-group-2::-webkit-scrollbar-corner {
    visibility: hidden;
  }

  .desc {
    padding: 0.25vmax 0;
    font-size: 1.9vmin;
    font-weight: 600;
  }

  .price {
    font-size: 1.5vmin;
    font-weight: 500;
  }
}
/* End */
